asgiref
charset-normalizer
crispy-bootstrap5
diff-match-patch
Django
django-crispy-forms
django-filter
django-import-export
django-otp
django-ranged-response
django-simple-captcha
djangorestframework
et_xmlfile
lxml
numpy
openpyxl
pandas
pillow
psycopg2-binary
python-dateutil
python-docx
python-dotenv
reportlab
six
sqlparse
tablib
typing_extensions
whitenoise
